<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoundSth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D8549FA021CE76AA000FD0DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8549FB821CE76AA000FD0DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8549FC321CE76AA000FD0DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
